html {
  font-size: 14px;
}
#container {
  background-color: #66ccff;
  height: 500px;
  min-width: 300px;
  max-width: 1600px;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 6px;
  padding: 2%;
  font-family: sans-serif;
}

#header {
  background-color: #2c599d;
  border-radius: inherit;
  padding: inherit;
  margin-bottom: 20px;
}
#image {
  border-radius: 10px;
  padding: 5px;
  background-color: #66ccff;
  max-height: 195px;
  max-width: 150px;
  display: inline-block;
}
#photo {
  max-width: 100%;
  max-height: 100%;
}
#items {
  display: inline-block;
  padding-left: 15px;
  color: white;
}
#name {
  font-size: 3.1rem;
}
#phone {
  font-size: 1.1rem;
  margin-bottom: 0;
  display: inline;
  margin-left: 5px;
}
#email {
  font-size: 1.1rem;
  display: inline;
}

#sub {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#skills {
  width: 30%;
  padding: 15px;
  box-sizing: border-box;
  background-color: #2c599d;
  border-radius: 10px;
  height: 100%;
}
div .heading2 {
  margin: 5px;
  color: white;
}
.item {
  font-size: 1.3rem;
  display: inline-block;
  background-color: #66ccff;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
}

.item span {
  font-size: 0.9rem;
}
a:visited {
  color: white;
  text-decoration: none;
}
a {
  color: white;
  text-decoration: none;
}

#projects {
  width: 65%;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #2c599d;
}
.project {
  margin: 5px;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.2rem;
  background-color: #66ccff;
}

.project h2 {
  font-size: 1.3rem;
}

@media (max-width: 750px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 630px) {
  #header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #email {
    margin-left: 25px;
  }
}
@media (max-width: 500px) {
  #sub {
    flex-direction: column;
  }
  #skills {
    width: 100%;
    margin-bottom: 5px;
  }
  #projects {
    width: 100%;
  }
}
